﻿@model PassionProject.Models.Owner

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<form class="form-horizontal">
    <h4>Owner</h4>
    <hr />
    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerFistName)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.OwnerFistName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerLastName)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.OwnerLastName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerPenName)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.OwnerPenName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerPhoneNo)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.OwnerPhoneNo)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerEmailId)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.OwnerEmailId)
        </div>
    </div>
</form>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-primary" /> |
    @Html.ActionLink("Back to List", "List",
        new { controller = "Owner"},
        new { @class = "btn btn-primary"})

</div>
}
