﻿@model PassionProject.Models.Owner

@{
    ViewBag.Title = "Details";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            <h3 class="CenterHeader">View Owner Details</h3>
        </p>
        
        <div class="form-group has-feedback">
            @Html.Label("First Name")
            @Html.TextBoxFor(m => m.OwnerFistName, new { @class = "form-control", @placeholder = "First Name" , @readonly = "readonly" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Last Name")
            @Html.TextBoxFor(m => m.OwnerLastName, new { @class = "form-control", @placeholder = "Last Name", @readonly = "readonly" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Pen Name")
            @Html.TextBoxFor(m => m.OwnerPenName, new { @class = "form-control", @placeholder = "Pen Name", @readonly = "readonly" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Phone No")
            @Html.TextBoxFor(m => m.OwnerPhoneNo, new { @class = "form-control", @placeholder = "Phone No", @readonly = "readonly" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("EmailID")
            @Html.TextBoxFor(m => m.OwnerEmailId, new { @class = "form-control", @placeholder = "EmailID", @readonly = "readonly" })
        </div>
    </div>
</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.OwnerId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "List",
         new { controller = "Owner" },
         new { @class = "btn btn-primary" })
</p>
