﻿@model PassionProject.Models.Owner

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="login-box">
    <div class="login-logo">
        <a href="#"></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            <h3 class="CenterHeader">Edit Owner Details</h3>
        </p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OwnerId)

        <div class="form-group has-feedback">
            @Html.Label("First Name")
            @Html.TextBoxFor(m => m.OwnerFistName, new { @class = "form-control", @placeholder = "First Name" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Last Name")
            @Html.TextBoxFor(m => m.OwnerLastName, new { @class = "form-control", @placeholder = "Last Name" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Pen Name")
            @Html.TextBoxFor(m => m.OwnerPenName, new { @class = "form-control", @placeholder = "Pen Name" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Phone No")
            @Html.TextBoxFor(m => m.OwnerPhoneNo, new { @class = "form-control", @placeholder = "Phone No" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("EmailID")
            @Html.TextBoxFor(m => m.OwnerEmailId, new { @class = "form-control", @placeholder = "EmailID" })
        </div>

        <div class="row">
            <input type="submit" name="submit" value="Submit" class="btn btn-primary col-md-12" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "List",
                 new { controller = "Owner" },
                 new { @class = "btn btn-primary" })
</div>
