﻿@model IEnumerable<PassionProject.Models.Owner>

@{
    ViewBag.Title = "List";
}

<h2>Owner List</h2>

<p>
    @Html.ActionLink("Create New", "Create",
             new { controller = "Owner" },
             new { @class = "btn btn-primary" })
</p>
<div class="table table-responsive">
    <table class="table table-hover">
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.OwnerFistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerPenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerPhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerEmailId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="active">
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerFistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerPenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerPhoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerEmailId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OwnerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OwnerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OwnerId })
                </td>
            </tr>
        }

    </table>
</div>