﻿@model PassionProject.Models.Pet

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<form class="form-horizontal">
    <h4>Pet</h4>
    <hr />

    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetName)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.PetName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetBreed)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.PetBreed)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetGender)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.PetGender)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetType)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.PetType)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetDescription)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.PetDescription)
        </div>
    </div>
</form>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        @Html.ActionLink("Back to List", "List",
    new { controller = "Pet"},
    new { @class = "btn btn-primary"})

    </div>
}
