﻿@model PassionProject.Models.Pet

@{
    ViewBag.Title = "Details";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            <h3 class="CenterHeader">View Pet Details</h3>
        </p>
        <div class="form-group has-feedback">
            @Html.Label("Pet Name")
            @Html.TextBoxFor(m => m.PetName, new { @class = "form-control", @placeholder = "Pet Name", @readonly = "readonly" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Pet Breed")
            @Html.TextBoxFor(m => m.PetBreed, new { @class = "form-control", @placeholder = "Pet Breed", @readonly = "readonly" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Pet Gender")
            @Html.TextBoxFor(m => m.PetGender, new { @class = "form-control", @placeholder = "Pet Gender", @readonly = "readonly" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Pet Type")
            @Html.TextBoxFor(m => m.PetType, new { @class = "form-control", @placeholder = "Pet Type", @readonly = "readonly" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Pet Description")
            @Html.TextBoxFor(m => m.PetDescription, new { @class = "form-control", @placeholder = "Pet Description", @readonly = "readonly" })
        </div>
    </div>
</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.PetId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "List",
         new { controller = "Pet" },
         new { @class = "btn btn-primary" })
</p>
