﻿@model PassionProject.Models.Pet

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="login-box">
        <div class="login-logo">
            <a href="#"></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">
                <h3 class="CenterHeader">Edit Pet Details</h3>
            </p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PetId)

            <div class="form-group has-feedback">
                @Html.Label("Pet Name")
                @Html.TextBoxFor(m => m.PetName, new { @class = "form-control", @placeholder = "Pet Name" })
            </div>
            <div class="form-group has-feedback">
                @Html.Label("Pet Breed")
                @Html.TextBoxFor(m => m.PetBreed, new { @class = "form-control", @placeholder = "Pet Breed" })
            </div>
            <div class="form-group has-feedback">
                @Html.Label("Pet Gender")
                @Html.TextBoxFor(m => m.PetGender, new { @class = "form-control", @placeholder = "Pet Gender" })
            </div>
            <div class="form-group has-feedback">
                @Html.Label("Pet Type")
                @Html.TextBoxFor(m => m.PetType, new { @class = "form-control", @placeholder = "Pet Type" })
            </div>
            <div class="form-group has-feedback">
                @Html.Label("Pet Description")
                @Html.TextBoxFor(m => m.PetDescription, new { @class = "form-control", @placeholder = "Pet Description" })
            </div>

            <div class="row">
                <input type="submit" name="submit" value="Submit" class="btn btn-primary col-md-12" />
            </div>
        </div>
    </div>

}

    <div>
        <div>
            @Html.ActionLink("Back to List", "List",
                new { controller = "Pet"},
                new { @class = "btn btn-primary"})
        </div>

    </div>
