﻿@model IEnumerable<PassionProject.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>Pet List</h2>

<p>
    @Html.ActionLink("Create New", "New",
             new { controller = "Pet" },
             new { @class = "btn btn-primary" })
</p>
<div class="table table-responsive">
    <table class="table table-hover">
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetBreed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="active">
                <td>
                    @Html.DisplayFor(modelItem => item.PetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetBreed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PetId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PetId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PetId })
                </td>
            </tr>
        }

    </table>
</div>