﻿@model PassionProject.Models.Pet

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/admin-lte/css/AdminLTE.css" rel="stylesheet" />

}


@using (Html.BeginForm("New", "Pet", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="login-box">
        <div class="login-logo">
            <a href="#"></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">
                <h3 class="CenterHeader">ADD PET DETAILS</h3>
            </p>
            @*<span class="glyphicon glyphicon-lock form-control-feedback"></span>*@
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.PetName, new { @class = "form-control", @placeholder = "Pet Name" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.PetBreed, new { @class = "form-control", @placeholder = "Pet Breed" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.PetGender, new { @class = "form-control", @placeholder = "Pet Gender" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.PetType, new { @class = "form-control", @placeholder = "Pet Type" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.PetDescription, new { @class = "form-control", @placeholder = "Pet Description" })
            </div>

            <div class="row">
                <input type="submit" name="submit" value="Submit" class="btn btn-primary col-md-12" />
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "List",
            new { controller = "Pet"},
            new { @class = "btn btn-primary"})
    </div>

    @*@Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PetName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PetName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PetName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PetBreed, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PetBreed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PetBreed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PetGender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PetGender, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PetGender, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PetType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PetType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PetType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PetDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PetDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PetDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@
}

