﻿@model PassionProject.Models.CareTaker
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/admin-lte/css/AdminLTE.css" rel="stylesheet" />

}
@using (Html.BeginForm("Create", "CareTaker", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="login-box">
        <div class="login-logo">
            <a href="#"></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">
                <h3 class="CenterHeader">ADD OWNER DETAILS</h3>
            </p>
            @*<span class="glyphicon glyphicon-lock form-control-feedback"></span>*@
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.CaretakerFirstName, new { @class = "form-control", @placeholder = "First Name" })
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.CaretakerLastName, new { @class = "form-control", @placeholder = "Last Name" })
            </div>
            <div class="row">
                <input type="submit" name="submit" value="Submit" class="btn btn-primary col-md-12" />
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "List",
             new { controller = "CareTaker" },
             new { @class = "btn btn-primary" })
    </div>
}
