﻿@model PassionProject.Models.CareTaker

@{
    ViewBag.Title = "Details";
}
<div class="login-box">
    <div class="login-logo">
        <a href="#"></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            <h3 class="CenterHeader">View CareTaker Details</h3>
        </p>
        
        <div class="form-group has-feedback">
            @Html.Label("First Name")
            @Html.TextBoxFor(m => m.CaretakerFirstName, new { @class = "form-control", @placeholder = "First Name", @readonly = "readonly" })
        </div>
        <div class="form-group has-feedback">
            @Html.Label("Last Name")
            @Html.TextBoxFor(m => m.CaretakerLastName, new { @class = "form-control", @placeholder = "Last Name", @readonly = "readonly" })
        </div>
    </div>
</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.CaretakerId }, new { @class = "btn btn-primary"} ) |
    @Html.ActionLink("Back to List", "List",
         new { controller = "CareTaker" },
         new { @class = "btn btn-primary" })

</p>
