﻿@model PassionProject.Models.CareTaker

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login-box">
        <div class="login-logo">
            <a href="#"></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">
                <h3 class="CenterHeader">Edit CareTaker Details</h3>
            </p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CaretakerId)

            <div class="form-group has-feedback">
                @Html.Label("First Name")
                @Html.TextBoxFor(m => m.CaretakerFirstName, new { @class = "form-control", @placeholder = "First Name" })
            </div>
            <div class="form-group has-feedback">
                @Html.Label("Last Name")
                @Html.TextBoxFor(m => m.CaretakerLastName, new { @class = "form-control", @placeholder = "Last Name" })
            </div>

            <div class="row">
                <input type="submit" name="submit" value="Submit" class="btn btn-primary col-md-12" />
            </div>
        </div>
    </div>

}

    <div>
        @Html.ActionLink("Back to List", "List",
                 new { controller = "CareTaker" },
                 new { @class = "btn btn-primary" })
    </div>
