﻿@model IEnumerable<PassionProject.Models.CareTaker>

@{
    ViewBag.Title = "List";
}

<h2>Caretaker List</h2>

<p>
    @Html.ActionLink("Create New", "Create",
             new { controller = "CareTaker" },
             new { @class = "btn btn-primary" })
</p>
<div class="table table-responsive">
    <table class="table table-hover">
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.CaretakerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaretakerLastName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="active">
                <td>
                    @Html.DisplayFor(modelItem => item.CaretakerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaretakerLastName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CaretakerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CaretakerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CaretakerId })
                </td>
            </tr>
        }

    </table>
</div>